<style>
  body {
    height: 99vh;
    font-family: monospace;
    display: flex;
    align-items: center;
  }
  main {
    box-shadow: 4px 4px 15px #0e02be;
    max-width: 50%;
    padding: 3em;
    margin: auto;
  }
  a {
    text-decoration: none;
    padding: 0.5em;
    border: 1px solid #0e02be;
  }
  a:hover {
    border: none;
    box-shadow: 2px 2px 3px #0e02be inset;
  }
</style>
<main>
  <h1>Welcome</h1>
  <div class="message">
    <h2>A great big thank you.</h2>
    <p>I will be very happy to help you learn French.</p>
    <p>Please know this, that the personal data you give us, remain intact on our server</p>
    <p>and will be used only in case of your authentification by log in on site.</p>
    <p>By clicking on the button "Verify My Email",</p>
    <p>you express the knowledge of that fact and agree with this.</p>
  </div>
  <br >
  <span><a href="<%= text %>">Verify My Email</a></span>
</main>