<style>
  body {
    height: 99vh;
    font-family: monospace;
    display: flex;
    align-items: center;
  }
  main {
    box-shadow: 4px 4px 15px #0e02be;
    max-width: 50%;
    padding: 3em;
    margin: auto;
  }
  fieldset {
    padding: 1.3em;
  }
  .labelInput, .labelInput>* {
    width: 96%;
    margin: 0.3em;
  }
  .span {
    font-size: 0.8em;
    font-style: italic;
  }
  #pConfirm {
    margin-bottom: 1.5em;
  }
  a {
    cursor: pointer;
    text-decoration: none;
    padding: 0.5em;
    border: 1px solid #0e02be;
    line-height: 100%;
  }
  a:hover {
    border: none;
    box-shadow: 2px 2px 3px #0e02be inset;
  }
</style>
</head>
<body>
<main>
<div class="sheet-page">
  <form id="theForm" action="<%= redirectUrl %>" method="post">
    <fieldset>
      <legend>Choose a new password</legend>
      <div class="labelInput">
        <label for="password">New password</label>
        <label for="password"><span class="span" id="span"> 8 characters minimum</span></label>
        <input type="password" name="newPassword" id="pInput" onkeyup="lengthOk()" required>
      </div>
      <div class="labelInput">
        <label for="confirmation">Confirm new password</label>
        <input type="password" name="confirmation" id="pConfirm" onkeyup="matchStick()" required>
      </div>
      <div class="labelInput">
        <a  id="btnSendForm" class="labelSendForm" onclick="sendForm()">Set new password</a>
        <a  id="btnPlaceholder" class="labelSendForm" onclick="test()">Set new password</a>
      </div>
    </fieldset>
  </form>
  <div class="messageField">
    <i><p class="mes" id="mes"></p></i>
  </div>
  <div class="messageField">
    <p class="message" id="message"></p>
  </div>
</div>
</main>
<script>
document.getElementById('btnSendForm').hidden = true;
function matchStick() {
  if (document.getElementById('pInput').value === document.getElementById('pConfirm').value) {
    document.getElementById('btnPlaceholder').hidden = true;
    document.getElementById('btnSendForm').hidden = false;
    document.getElementById('mes').innerHTML = '';
  } else {
    document.getElementById('mes').innerHTML = 'Mots de passes ne correspond pas.';
  }
};
function lengthOk() {
  if (document.getElementById('pInput').value.length >= 8 ) {
    document.getElementById('span').style.color = 'green';
  } else {
    document.getElementById('span').style.color = 'red';
  }
};
function sendForm() {
  document.getElementById('theForm').submit();
  document.getElementById('theForm').reset();
  document.getElementById('mes').innerHTML = 'Vôtre nouveau mot de passe \n est saisie.';
};
</script>
</body>